.btn {
  border: none;
  outline: none;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--color-text);
  background: var(--color-primary);
  cursor: pointer;
  border-radius: 100px;
  padding: 0.5rem 1rem;
  transition: all 0.3s;
}

.btn-small {
  font-size: 0.75rem;
}
.btn-large {
  font-size: 1.25rem;
  padding: 0.75rem 1.25rem;
}

.btn:hover {
  background: var(--color-primary-light);
}

.btn:active {
  background: var(--color-primary-dark);
}

.btn-success {
  background: var(--color-success);
}

.btn-success:hover {
  background: var(--color-success-light);
}

.btn-success:active {
  background: var(--color-success-dark);
}

.btn-error {
  background: var(--color-error);
}

.btn-error:hover {
  background: var(--color-error-light);
}

.btn-error:active {
  background: var(--color-error-dark);
}

.btn-block {
  width: 100%;
}

.btn-icon {
  padding: 0;
  border-radius: 20rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
