.img_Home1 {
    display: block;
    margin: auto;
    height: 250px;
}

.img_Home2 {
    display: block;
    margin: auto;
    height: 100px;
}

.Welcome_Home{
    font-family: 'Amiri', sans-serif;
    margin-top: 2%;
    text-align: center;
    color: #000;
}