.trans {
  padding: 1.5rem 0;
  width: 100%;
}

.trans_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.trans_header-filters {
  color: var(--color-text-light);
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  align-items: center;
}

.trans_content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.trans_item {
  background: var(--gradient-bg-light);
  border-radius: 30px;
  margin-left: 05%;
  margin-right: 05%;
  box-shadow: 1px 0 12px rgba(0, 0, 0, 0.2);
  padding: 0.75rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.trans_item-icon {
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 300px;
  background-color: #a4c3d2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.administrator{
  background-color: #09b2be;
}

.trans_item-icon.error {
  background-color: white;
}

.trans_item-data {
  flex: 1;
}

.trans_item-data > div {
  margin-top: 0.05rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
  color: var(--color-text-light);
}

.trans_item-cta {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.loading {
  text-align: center;
}

.data-error {
  text-align: center;
  color: #de5d83;
}

.input_Emp{
width: 73.5%;
display: inline;
margin-right: 2%;
border-radius: 300px;
}

.HeaderEmp{
width: 95%;
margin-left: 6%;
margin-right: 10%;
margin-bottom: 2%;
}
